body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Droid Serif', serif;
}

#news-widget {
    max-width: 800px;
    margin: 20px auto;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.news-heading {
    color: #840d0d;
    text-align: left;
}

.news-item {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.news-image {
    max-width: 100px;
    margin-right: 10px;
    border-radius: 5px;
}

.news-content {
    flex-grow: 1;
}

.page-number {
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 5px;
    color: #333;
    background-color: #fff;
}

.current-page {
    background-color: #840d0d;
    color: #fff;
}

.posted-meta-data {
    font-size: 12px;
    color: #666;
    margin-bottom: 8px;
}

.full-news-content {
    text-align: center;
}

.modal-image,
.modal-thumbnail {
    max-width: 100%;
    height: auto;
}

#back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #840d0d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-button:hover {
    background-color: #a50d0d;
}

.modal-open {
    overflow: hidden;
}
